<!-- <div class="container-fluid"> -->
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <i class="glyphicon glyphicon-apple navbar-brand"></i>
            <div class="navbar-brand">::Logo:Meas'd::</div>
        </div>

            <div>
              <ul class="nav navbar-nav navbar-right">
                <li class="active">
                  <a href="#">Login</a>
                </li>
                <li class="active">
                  <a href="#">Help</a>
                </li>
                <li class="active">
                  <a href="#">About</a>
                </li>
              </ul>
            </div>

      </div>
    </nav>
  </header>
<!-- </div> -->

<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Full Width Video</h1>
          <h3>Enjoy Adding Full Screen Videos to your Page Sections</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="welcome">
  <h1>*****************************</h1>
  <br><br>
  <h1>Welcome To Measure Twice!</h1>
  <p>An App That Makes Moving Fun</p>
  <br><br>
  <h1>*****************************</h1
</div>

<h4><%= link_to 'Sign Up', new_user_path %> (Have this link render the following form via AJAX)</h4>
<h1>New User</h1>
<div class="placeholder for partial render?"></div>

<%= form_for :user, url: users_path do |f| %>
  <div class="placeholder for errors"></div>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>