<p id="notice"><%= notice %></p>

<p>
 <strong>File:</strong>
<%= image_tag serve_layout_path([@user, @layout]) %>
</p>

<!-- <p>
 <strong>User:</strong>
 <%=
 # @user.username %>
# </p> -->

<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>